@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.rowTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(244, 241, 241);
}

.rowImg {
  display: flex;
  flex-direction: row;
  margin: 1px 10px;
  padding: 0 5px;
}

.rowLeft {
  margin: 10px 10px;
  font-weight: bold;
}

.rowLeftImg {
  width: 20px;
  padding: 8px 15px;
}

.rowMenuComp {
  display: flex;
  flex-direction: row;
  margin: 1px 10px;
  padding: 0 5px;
}

.rowMenuComp > :nth-child(2) {
  border-right: 1px solid rgb(104, 102, 102);
  border-left: 1px solid rgb(104, 102, 102);
}

.menuRowItem {
  margin: 10px 0;
  padding: 0 22px;
  align-items: center;
  color: rgb(104, 102, 102);
  font-size: 14px;
  font-family: "Helvetica, Arial, sans-serif";
  line-height: 1.5;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuImg {
  margin: 20px 30px;
  padding: 15px 15px;
}

.menuRow {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  padding: 15px 15px;
}

.menuItem {
  margin: 10px 10px;
  padding: 15px 15px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.menuRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;
  padding: 15px 15px;
}

.menuItemRight {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  padding: 15px 15px;
}

.menuItemRight > :nth-child(1) {
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 241, 241);
}

.pageContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 15px;
  background-color: rgb(244, 241, 241);
}

.pagePrincipal {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bannerPageContent {
  margin: 0 30px;
  padding: 10px 15px;
}

.pageimage {
  width: 80%;
}

.button {
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 241, 241);
  border-radius: 20px;
  padding: 10px 10px;
}

.button :nth-child(1) {
  height: 15px;
  margin: 1px 4px;
}

.button :nth-child(2) {
  flex-grow: 1;
  margin: 1px 0;
}

.button :nth-child(2) > input {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.row {
  display: flex;
  flex-direction: column;
}

.rowTitle {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 580;
  margin: 0 10%;
  padding: 25px 0;
}

.rowBanner {
  width: 80%;
}
